# Fichiers sensibles
.env
.env.*
!.env.example
*.env
application-local.properties


# Java / Maven (dossier backend)
**/target/
**/.mvn/wrapper/maven-wrapper.jar

# IDE & OS
.idea/
.vscode/
*.iml
*.DS_Store
Thumbs.db

# Node / Scratch
node_modules/
package-lock.json
agent.md
spec.md